
* {
  box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial;
    color: #444;
}

select,
input {
	width:100%;
	margin-bottom: 5px;
	padding:4px;
}

button {
	width:100%;
	margin-bottom: 5px;
	padding:4px;
	cursor: pointer;
}