<li>
<header class="remove-widget"></header>
<div class="widget-dice">
	<button data-value="6">W6</button>
	<button data-value="10">W10</button>
	<button data-value="20">W20</button>
	<button data-value="100">W100</button>
	<input type="number" value="2"><button data-value="2">WX</button>
	<div class="result"></div>
</div>
</li>