<li data-zwanzig='{{args.zwanzig}}' data-einser='{{args.einser}}'>
	<header class="remove-widget"></header>
	<div class="widget-charts">
		<label>20er</label>
		<button class="minus">-</button><input value="{{args.zwanzig}}" type="text" name="zwanzig" /><button class="plus">+</button>
		<label>1er</label>
		<button class="minus">-</button><input value="{{args.einser}}" type="text" name="einser" /><button class="plus">+</button>
	</div>
</li>