<li data-path="{{args.path}}" data-name="{{args.name}}">
<header class="remove-widget"></header>
<div class="widget-randomlist">
	<button data-path="{{args.path}}">{{args.name}}</button>
	<div class="result"></div>
</div>
</li>